.category-container {
  width: 100vw;
  height: 100vh;
  padding-top: env(safe-area-inset-top);
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.category-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.arrow-back-icon {
  width: 24px;
  height: 24px;
  color: #4a5eee;
}

.category-page-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 2%;
  margin: 0;
  padding: 0;
}

.category-listings {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.category-listing-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-image-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.listing-duration-overlay {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 2%;
  padding: 4px 8px;
  border-radius: 4px;
}

.card-details {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.card-meta {
  flex-grow: 2;
}

.category-listing-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2%;
  padding: 0;
  margin: 0;
}

.category-listing-price {
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2%;
  padding: 0;
  margin: 0;
}

.category-listing-condition {
  color: grey;
  font-size: 16px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 2%;
  padding: 0;
  margin: 0;
}

.likes-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
}

.category-heart-icon {
  width: 20px;
  height: 20px;
}
